<div class="container pt-4 w-50">
  <h1><%= @list.name %></h1>
  <ol>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %>  --> <%= bookmark.comment %>
    <% end %>
  </ol>
  <p><%= link_to "add movie", new_list_bookmark_path(@list) %></p>
  <p><%= link_to "back to lists", lists_path %></p>
  <p><%= link_to "CLICK HERE TO ADD IMAGE", add_image_path %></p>
</div>
